@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
   
    --foreground: #ededed;
  }
}
@layer base {
  h1 {
    /* 64px font size */
    @apply text-[64px];
  }
  h2 {
    /* 64px font size + #181818 color */
    @apply text-[64px] text-[#181818];
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
